.navbar-brand {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}

.contact-info-address {
    margin-right: 20px;
    margin-left: 20px;
}

.contact-info-phone {
    margin-right: 20px;
    margin-left: 20px;
}

.accordion {
    margin-right: 40px;
    margin-left: 40px;
}

.accordion-body{
    margin-right: 40px;
    margin-left: 40px;
}

.card-offset {
    border: 40px; /* центр по горизонтали */
}

.card-img-top {
    width: 300px;     /* ширина */
    height: auto;
}

.table {
        margin-top: 20px;
}

.card-img-top {
    margin-left: 40px;
}