.tire-img {
  width: 100%;
  height: 300px;          /* один размер для всех */
  object-fit: contain;   /* НЕ обрезает шину */
}

.tiresWinterBg{
  background-image: url('/img/tires/bg/winter.png')
}

.tiresSummerBg{
  background-image: url('/img/tires/bg/summer2.png')
}

.tires4sBg{
  background-image: url('/img/tires/bg/4s_1.png')
}

.tiresTruckBg{
  background-image: url('/img/tires/bg/truck.png')
}