.tire-img {
  width: 100%;
  height: 300px;          /* один размер для всех */
  object-fit: contain;   /* НЕ обрезает шину */
}

.winterTiresBg{
  background-image: url('/img/tires/bg/winter.png')
}

.summerTiresBg{
  background-image: url('/img/tires/bg/summer4.jpg')
}

.ASTiresBg{
  background-image: url('/img/tires/bg/4s_1.png')
}

.truckTiresBg{
  background-image: url('/img/tires/bg/truck.png')
}

.agroTiresBg{
  background-image: url('/img/tires/bg/truck.png')
}