.tire-img {
  width: 100%;
  height: 300px;          /* один размер для всех */
  object-fit: contain;   /* НЕ обрезает шину */
}

.winterTiresBg {
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #E0FFFF 100%
  );
}

.summerTiresBg{
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #FFFFE0 100%
  );
}

.ASTiresBg{
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #E6E6FA 100%
  );
}

.truckTiresBg{
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #fdf2ed 100%
  );
}

.agroTiresBg{
  background: linear-gradient(
      180deg,
      #F8FAFC 0%,
      #caf7e8 100%
    );
  }

.tireTubes{
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #e3e4e2 100%
  );
}


.tireService{
  left: 15%;
  right: auto;
  bottom: 10%;
}
